* {
    vertical-align: middle;
    text-decoration: none;
    padding: 0;
    outline: none;
    margin: 0;
    font-family: 'Chinese Quote', 'Segoe UI', Roboto, RobotoNum, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
html {position: relative; background-color: white;}
body {position: relative; margin: 0.5rem 1.25rem;}
body > * {margin: 0.5rem 0;}
pre {white-space: pre-wrap; font-size: 1rem; line-height: 1.75; vertical-align: baseline;}
h1, h2, h3, h4, h5, h6 {display: inline;}
#ch_15 {
    display: inline-grid;
    position: relative;
    width: 100%;
    overflow-x: auto;
    grid-template-columns: repeat(auto-fill, 12rem);
    justify-content: center;
    gap: 0.2rem;
}
#ch_15 > * {width: 100%; height: 12rem; position:relative;}
#ch_15 > * > * {width: 100%; height: 100%; object-fit: cover;}  /*object-fit: cover; 填满，超出部分裁剪掉*/
note {
    font-size: 1rem; line-height: 1.75; vertical-align: baseline;
    text-decoration: underline;
    text-decoration-style: dashed;
}